##### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Clang settings
.clangd

# Visual Studio code coverage results
*.coverage
*.coveragexml

# run
main